@using ToDoSimple.Models.Home;
@using ToDoSimple.Models;

@model Note
@{
    ViewBag.Title = "Confirm...";
}
<head>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="row shadow-sm p-3 mt-4 rounded bg-white">
        <h>
            are you shure? Note "@Model.Name" will be deleted
        </h>
    </div>
    <div class="row ">
        <div class="col-2">
            <a href="/home/delete/@Model.Id">
                <button class="btn btn-outline-danger">
                    Yes, delete
                </button>
            </a>
        </div>
        <div class="col-2">

            <a href="/home/index">
                <button class="btn btn-outline-success">
                    No, back to list
                </button>
            </a>
        </div>
    </div>
</body>