@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ToDoSimple.Models.Note;
@{
    ViewData["Title"] = "Create note";
}
<div class="text-center">
<form asp-controller="Home" asp-action="Add">
    <div>
        <input asp-for="Name" type="text" class="form-control shadow-sm rounded" placeholder="Note name"/>
        <label>Task name</label>
    </div>

        <div>
            <input Asp-for="Description" type="text" class="form-control shadow-sm rounded" placeholder="Note description" />
        </div>
        <button class="btn btn-primary d-flex align-items-center justify-content-center shadow" type="submit">
            Add
        </button>
</form>
</div>