@using ToDoSimple.Models.Home;
@using ToDoSimple.Models;

@* @model Note *@
@model HomeViewModel

@{
    ViewBag.Title = "Add new note";
}
<head>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="shadow-sm p-3 mt-4 rounded bg-white">
        <form asp-action="Create">
                 <div class="col-4">
                     <span asp-validation-summary></span>
                <div action="form-floating">
                    <input asp-for="NoteName" type="text" value="Note" minlength="3" maxlength="20" class="form-control shadow-sm rounded" required />
                    <label asp-for="NoteName">Note Name</label>
                </div>
                <span asp-validation-for="NoteName" class="text-danger"></span>
            </div>
            <div class="col-4">

                <div action="form-floating">
                    <input asp-for="NoteDescription" type="text" class="form-control shadow-sm rounded"/>
                    <label asp-for="NoteDescription">Note Name</label>
                </div>
                <span asp-validation-for="NoteDescription" class="text-danger"></span>
            </div>
            <div class="col-4">
                <div action="form-floating">
                    <input asp-for="ExpireDate" type="datetime-local" class="form-control shadow-sm rounded"/>
                    <label asp-for="ExpireDate">Expire Date</label>
                </div>
                <span asp-validation-for="ExpireDate" class="text-danger"></span>
            </div>
            <div class="col-1 aslign-items-center d-flex">
                <button class="btn btn-primary d-flex align-items-center justify-content-center shadow" type="submit">
                    Add
                </button>

            </div>

        </form>
    </div>
</body>