@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ToDoSimple.Models.Note;
@{
    ViewBag.Title = @Model.Name;
}
<div class="row">
    <div class="col-4 text-start">
        <li>
            <span>@Model.Name</span>
        </li>    
        <li>
            <span>@Model.Description</span>
        </li>   
        <li>
            <span>@Model.IsCompleted</span>
        </li>
    </div>

</div>

@await Html.PartialAsync("_PartialNoteView.cshtml", Model)
