@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ToDoSimple.Models.Note;
@{
    ViewData["Title"] = "Edit note";
}
<div class="text-center">
   <form asp-action="Edit" method="post">
        <div>
            <input asp-for="Name" type="text" class="form-control shadow-sm rounded" placeholder="@Model.Name" />
            <label>Task name</label>
        </div>

        <div>
            <input Asp-for="Description" type="text" class="form-control shadow-sm rounded" placeholder="@Model.Description" />
        </div>
        <button class="btn btn-primary d-flex align-items-center justify-content-center shadow" type="submit">
            Add
        </button>
   </form>
</div>