@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ToDoSimple.Models.Note;
@{
    ViewData["Title"] = "Edit note";
}
<div class="container-fluid d-flex align-items-center justify-content-center flex-column" style="min-height: 100vh;">
    <div class="card-header d-flex justify-content-center">
        <span class="text-primary fw-bold" style="font-size: 20px">
            Current note
        </span>
    </div>
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" type="text" class="form-control shadow-sm rounded" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" type="text" class="form-control shadow-sm rounded" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-check form-switch">
            <label asp-for="IsCompleted" class="form-check-label" for="isCompleted">Is Completed</label>
            <input asp-for="IsCompleted" type="checkbox" role="swithc" class="form-check-input shadow-sm rounded" id="isCompleted" />
            <span asp-validation-for="IsCompleted" class="text-danger"></span>
        </div>
        <div action="form-group">
            <label asp-for="ExpireDate" class="control-label">ExpireDate</label>
            <input asp-for="ExpireDate" type="datetime-local" class="form-control shadow-sm rounded" />
            <label asp-for="ExpireDate">Date and time</label>
        </div>
        <span asp-validation-for="ExpireDate"></span>
        <button class="btn btn-primary d-flex align-items-center justify-content-center shadow mt-2 w-75" style="background-color:lightgreen; color:black" type="submit">
            Save
        </button>
    </form>
    <div>
        <form asp-action="Index">
            <button class="btn btn-primary d-flex align-items-center justify-content-center shadow mt-2 w-75">Back to List</button>
        </form>
    </div>
</div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}