@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ToDoSimple.Models.Home.HomeViewModel;
@{
    ViewData["Title"] = "Edit note";
}
<div class="container-fluid d-flex align-items-center justify-content-center column" style="min-height: 100vh;">
        <div class="card-header d-flex justify-content-center">
            <span class="text-primary fw-bold" style="font-size: 20px">
                Current note
            </span>
        </div>
            <form asp-action="EditA">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NoteName" class="control-label"></label>
                    <input asp-for="NoteName" type="text" class="form-control shadow-sm rounded" />
                    <span asp-validation-for="NoteName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NoteDescription" class="control-label"></label>
                    <input asp-for="NoteDescription" type="text" class="form-control shadow-sm rounded" />
                    <span asp-validation-for="NoteDescription" class="text-danger"></span>
                </div>
@*                 <div class="form-group">
                    <label asp-for="IsCompleted" class="control-label">Is Completed</label>
                    <input asp-for="IsCompleted" type="text" class="form-control shadow-sm rounded" />
                    <span asp-validation-for="IsCompleted" class="text-danger"></span>
                </div> *@
                <div action="form-group">
                    <label asp-for="ExpireDate" class="control-label">ExpireDate</label>
                    <input asp-for="ExpireDate" type="datetime-local" class="form-control shadow-sm rounded" />
                    <label asp-for="ExpireDate">Date and time</label>
                </div>
                <span asp-validation-for="ExpireDate"></span>
                <button class="btn btn-primary d-flex align-items-center justify-content-center shadow mt-2 w-75" style="background-color:lightgreen; color:black" type="submit">
                    Save
                </button>
            </form>
            <div>
                <form asp-action="Index">
                    <button class="btn btn-primary d-flex align-items-center justify-content-center shadow mt-2 w-75">Back to List</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}