@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ToDoSimple.Models.Note>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="col-8">
        <table class="table table-borderless text-start">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Is Completed</th>
                </tr>
                @foreach (var note in Model)
                {
                    <tr>
                        <th>@note.Name</th>
                        <th>@note.Description</th>
                        <th>@note.IsCompleted</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
