@using ToDoSimple.Models.Account;
@model AccountViewModel

@{
    Layout = null;
    var isVisibleRegisterTab = Model?.RegisterViewModel != null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>Authorisation - ToDoListSample</title>

    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container-fluid d-flex align-items-center justify-content-center flex-column" style="min-height: 100vh;">
        <main role="main" style="width: 400px" class="mt-5">
            <div class="card">
                <div class="card-header d-flex justify-content-center">
                    <span class="text-primary fw-bold" style="font-size: 25px">
                        <!--<i class="fa-solid fa-clipboard-list"></i>--> Task list
                    </span>
                </div>
                <div class="card-body ps-5 pe-4">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link @(!isVisibleRegisterTab ? "active" : "")" id="pills-login-tab" data-bs-toggle="pill" data-bs-target="#pills-login" type="button" role="tab" aria-controls="pills-login" aria-selected="true">Login</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link @(isVisibleRegisterTab ? "active" : "")" id="pills-regitration-tab" data-bs-toggle="pill" data-bs-target="#pills-regitration" type="button" role="tab" aria-controls="pills-regitration" aria-selected="false">Registration</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show @(!isVisibleRegisterTab ? "show active" : "")" id="pills-login" role="tabpanel" tabindex="0" aria-labelledby="pills-login-tab" tabindex="0">
                            @{
                                ViewData.TemplateInfo.HtmlFieldPrefix = "l";
                                await Html.RenderPartialAsync("_Login", Model?.LoginViewModel);
                            }
                        </div>
                        <div class="tab-pane fade @(isVisibleRegisterTab ? "show active" : "")" id="pills-regitration" role="tabpanel" aria-labelledby="pills-regitration-tab" tabindex="0">
                            @{
                                ViewData.TemplateInfo.HtmlFieldPrefix = "r";
                                await Html.RenderPartialAsync("_Register", Model?.RegisterViewModel);
                            }
                        </div>

                    </div>
                </div>
            </div>

            <footer class="footer text-center mt-3">
                &copy; 2024-ToDo |simple| List
            </footer>
        </main>
</body>
</html>