<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToDoSimple</title>

    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ToDoSimple.styles.css" asp-append-version="true" />

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 

</head>
<style>
    body {
        background-color: #eceff4;
    }
</style>
<body>
    <div class="container-fluid" style="min-height: 100vh;">
        <div class="row w-100 align-items-center flex-column pt-lg-5" style="min-height: 100vh;">
            <div class="col-8">
                <main role="main" class="w-100">
                    <header class="align-items-center justify-content-between bg-white  shadow-sm rounded">
                        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow  position-relative">
                            <div class="container-fluid">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><u>ToDoSimple</u></a>
                                        <li class="nav-item">
                                            <a class="btn" href="home/Create" style="color:cadetblue">Create new  note</a>
                                        </li>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <form asp-action="index" method="get">
                                                <div class="input-group flex-nowrap start-50 rounded">
                                                    <button class="fa-solid fa-play rounded-start opacity-50" type="submit" value="search"></button>
                                                    <input type="text" class="form-control opacity-50" name="SearchString" id="searchString"
                                                           area-label="search" placeholder="search" value="@ViewData["CurrentFilter"]" />
                                                </div>
                                            </form>
                                        }
                                        else
                                        {
                                            <div></div>
                                        }
                                        <li class="nav-item position-absolute end-0">
                                            <a class="btn" href="account/logout" style="color:darkred">Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </header>
                    @RenderBody()
                </main>
            </div>

            <footer class="footer text-end mt-3 w-100">
                &copy; 2024 - ToDoSimple
            </footer>
        </div>
    </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
